USE [master]
GO
/****** Object:  Database [campus]    Script Date: 2018/11/17 11:46:41 ******/
CREATE DATABASE [campus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'campus', FILENAME = N'E:\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\campus.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'campus_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\campus_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [campus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [campus]
GO
/****** Object:  Table [dbo].[c]    Script Date: 2018/11/17 11:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[c](
	[class_id] [char](6) NOT NULL,
	[msg_id] [char](6) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[datatime] [varchar](50) NULL,
 CONSTRAINT [PK_c] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[u]    Script Date: 2018/11/17 11:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[u](
	[user_id] [char](6) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[tel] [varchar](11) NULL,
	[addr] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[wx_no] [varchar](50) NULL,
	[qq_no] [varchar](15) NULL,
	[descript] [varchar](max) NULL,
	[stu_no] [varchar](9) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[pic_path] [varchar](max) NULL,
	[level] [int] NOT NULL,
	[class_id] [char](6) NOT NULL,
	[classname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_u] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
